</div>
</div>
<div class="row">
	<div class="col-md-12 futer">
		<div class="pull-right">
			{{appname}} | {{appversion}}
			<br>
			Copyright {{develop_year}}. {{ownername}}.
		</div>
	</div>
</div>
</div>
<div id="prazan"></div>
<script src="templates/js/jquery.min.js"></script>
<script src="templates/js/bootstrap.min.js"></script>
<script src="templates/js/jquery-ui.min.js"></script>
<script src="templates/js/jquery.ui.touch-punch.min.js"></script>
<script src="templates/js/jquery.bpopup.min.js"></script>
<script src="templates/js/fastclick.min.js"></script>
<script src="templates/datatables/datatables.min.js"></script>
<script src="templates/datatables/dataTables.colReorder.min.js"></script>
<script src="templates/datatables/buttons.colVis.min.js"></script>
<script src="templates/js/nprogress.js"></script>
<script src="templates/js/bootstrap-switch.min.js"></script>
<script src="templates/js/bootstrap-select.min.js"></script>
<script src="templates/js/jquery.datetimepicker.full.min.js"></script>
<script src="templates/summernote/summernote.min.js"></script>
<script src="templates/js/pnotify.custom.min.js"></script>
<script src="templates/js/validator.js"></script>
<script src="templates/js/seo.js"></script>
<script src="templates/js/bootstrap-tagsinput.min.js"></script>

<script>
	{{customjs}}
</script>
</body>
</html>